{
    "prettier/prettier": [
        "error",
        {
            "singleQuote": true,
            "parser": "flow",
            "endOfLine": "auto"
        },
        "rules",
        {
            "prettier/prettier": 0,
            "tabWidth": 4
        }
    ]
}